/* チェックエラー枠 */
input.error, textarea.error, div.error-other {
    border-color: #eb4141 !important
}

/* チェックエラーメッセージ */
div.error {
    margin-top: 12px;
    line-height: 19px;
    color: #eb4141
}

label.error {
    margin-top: 12px;
    line-height: 19px;
    color: #eb4141
}

.m-data-table__truncate-content{
    text-align: center
}

.a-icon--close-hover{
    width: 20px;
    height: 20px;
}